<div class="row">
    <div class="col-md-4">
        <%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
    </div>
    <div class="col-md-8">
        <h2><%= @book.title %></h2>
        <h3>From <strong><%= @book.author %></strong></h3>
        <p><%= @book.description %></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <%= render @book.reviews %>

        <div>
            <%= link_to "Add Review", new_book_review_path(@book) %>

        </div>    

    </div>    
</div>    
<%= link_to "Back", root_path %>

<% if user_signed_in? %>
    <% if @book.user_id == current_user.id %>

        <%= link_to "Edit", edit_book_path(@book) %>
        <%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure ?"} %>

    <% end %>
<% end %>
